# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Historical market data
data/*.csv
data/*.zip
data/*.parquet

# Backtest outputs
results/*
!results/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Raw historical market data
data/raw/*.csv
data/raw/*.zip
data/raw/*.parquet

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db